<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />
<title>Insert title here</title>
</head>
<body>
<ul>
<li><a th:href="@{/app/personas}">Lista de Personas</a></li>
<li><a th:href="@{/app/personas/form}">Agregar Persona</a></li>
</ul>
</body>
</html>